<div class="pdp-expert-verification">
  <img
    class="pdp-expert-verification__image"
    src="https://cdn.shopify.com/s/files/1/0859/6992/8495/files/Jennifer-Co_owner_fo_trufairs.jpg?v=1781715514"
    alt="Jennifer, Co-owner of Trufairs"
    width="64"
    height="64"
    loading="lazy"
  >

  <div class="pdp-expert-verification__content">
    <p class="pdp-expert-verification__eyebrow">
      Personally selected and verified
    </p>

    <p class="pdp-expert-verification__title">
      By Jennifer, Co-owner of Trufairs
    </p>

    <p class="pdp-expert-verification__description">
      Reviewed for quality, functionality, and overall value before being
      featured in our verified collection.
    </p>

    <button
      type="button"
      class="custom-drawer-trigger pdp-expert-verification__link"
      id="openDrawer1"
    >
      Learn More
    </button>
  </div>
    </div>